/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.vscode
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


/fe/.DS_Store
/fe/node_modules
/fe/dist

# Log files
/fe/npm-debug.log*
/fe/yarn-debug.log*
/fe/yarn-error.log*
/fe/pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
